In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('medallas.csv')
print(df.shape)
df.head(10)

(93, 5)

    Oro  Plata  Bronce  Total        Pais
0   NaN    1.0     2.0      3   Argentina
1   NaN    2.0     2.0      4     Armenia
2  17.0    7.0    22.0     46   Australia
3   1.0    1.0     5.0      7     Austria
4   NaN    3.0     4.0      7  Azerbaijan
5   2.0    NaN     NaN      2     Bahamas
6   NaN    1.0     NaN      1     Bahrain
7   1.0    3.0     3.0      7     Belarus
8   3.0    1.0     3.0      7     Belgium
9   1.0    NaN     NaN      1     Bermuda

In [ ]:
df_fill = df.fillna(0)
df_fill['Oro']
#df_fill.head(10)

KeyError: 'Oro, plata'